<form action="/bookmarks/do_edit" method="post">
  <input type="text" name="url" placeholder="URL" />
  <input type="text" name="title" value="<%= @title %>" />
  <input type="submit" value="Submit" />
</form>
